<div class="container">
<h1> Add Book </h1>
 <%= simple_form_for @author do |f| %>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.button :submit, :class => "btn btn-primary" %>
<% end %>
<%=link_to "Cancel", books_path, class: "btn btn-primary" %>
</div>
