<div class="container">


<h1> Edit Book </h1>
 <%= simple_form_for @book do |f| %>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :note %>
  <%= f.input :completed %>
  <%= f.button :submit, :class => "btn btn-primary" %>
<%=link_to "Back", root_path, class: "btn btn-primary"%>
<% end %>
</div>
